<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <header>
        <% include ./partials/header %>
    </header>
    <div class="container">
        <h2>Opening Details</h2>
        <% if(openDetails) { %>
        <table class="table table-hover">
            <tr>
                <th>Project Name</th>   
                <td><%= openDetails.project %></td>             
            </tr>
            <tr>
                <th>Client Name</th>   
                <td><%= openDetails.client %></td>             
            </tr> 
            <tr>
                <th>Technologies</th>   
                <td><%= openDetails.technology %></td>             
            </tr>     
            <tr>
                <th>Role</th>   
                <td><%= openDetails.role %></td>             
            </tr>     
            <tr>
                <th>Created by </th>   
                <td><%= openDetails.createdBy %></td>             
            </tr> 
            <tr>
                <th>Status</th>   
                <td><%= openDetails.status %></td>             
            </tr> 
            <tr>
                <th>Job Description</th>   
                <td><%= openDetails.description %></td>             
            </tr>  
            <% if (userData.user_role == "Employee" && openDetails.status == "Open") { %>
            <tr>
            <% if (applied) { %>
                <th>Application Status</th>   
                <td>Already Applied</td>  
             <% } else { %>
                <th>Application Status</th>   
                <td>
                    <a href="/openingList/apply/<%=openDetails._id%>">Click to Apply </a>
                </td>  
             <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
    </div>
</body>
</html>
